/*font*/
@font-face {
	font-family: 'HallymGothic-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}




/* 라이브러리 */

html > body {
	font-family: 'HallymGothic-Regular';
	color: white;
	margin: 0;
	padding: 0;
	align-items: center;
	background-color: black;
}
a {
	text-decoration: none;
	color: inherit;
}

table-box-type-1 > table {
	width: 100%;
}

.table-box-type-1>table th, .table-box-type-1>table td {
	border: 1px solid white;
	padding: 10px;
}